@import url("reset.css");
/* Mobile first */
/* Variables and mixins */
#page {
  position: relative;
  width: 100%;
  left: auto;
  right: auto;
}
.basefont {
  font: 16px/1.5 'Vampiro One', cursive;
  color: #000000;
}
body {
  font: 14px/1.5 'Vampiro One', cursive;
  color: #000000;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 600;
}
header {
  background-color: #000000;
}
header h1 {
  font-size: 24px;
  padding: 24px;
  background: #fffecf;
  text-align: center;
}
header nav li {
  width: 100%;
  text-align: center;
}
header nav li a {
  display: block;
  padding: 6px 0;
  background-color: #fffb03;
  color: #000000;
  text-decoration: none;
}
section {
  clear: both;
}
section h2 {
  font-size: 24px;
  padding: 24px 0;
}
section p img {
  width: 100%;
}
section.second p {
  margin: 24px 16px;
}
section.second p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}
.subsection { width:80%;
float:left;}

footer {
  clear: both;
}
footer nav {
  width: 100%;
}
footer nav li {
  width: 50%;
  float: left;
  text-align: center;
}
footer nav li a {
  display: block;
  padding: 6px 0;
  background-color: #fffb03;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 481px) {
  body {
    font-size: 16px;
    width: 750px;
  }
  header {
    clear: both;
  }
  header h1 {
    width: 290px;
    float: left;
    padding: 34px 20px;
  }
  header nav {
    width: 420px;
    float: right;
  }
  header nav li {
    width: 140px;
    float: left;
  }
  header nav li a {
    padding: 14px 0;
  }
  section {
    clear: both;
  }
  section.second p {
    width: 290px;
    float: left;
  }
  section.second p + p {
    width: 396px;
    float: right;
  }
  section div {
    clear: both;
  }
  footer {
    clear: both;
  }
  footer ul li {
    width: 50%;
  }
  footer ul + ul li {
    width: 140px;
  }
}
@media (min-width: 960px) {
  body {
    width: 960px;
  }
  header h1 {
    width: 290px;
    padding: 8px 20px;
    text-align: left;
  }
  header nav {
    width: 630px;
  }
  header nav li {
    width: 105px;
  }
}
section.second p + p {
  width: 606px;
}
